extends layout
block link
  -var selected = 'Cart';

block content
  .row
    .card
      .card-header(data-background-color='purple')
        h4.title Cart
      .card-content
        .col-md-12
          h5(style="padding: 0px 0px 10px; text-decoration: underline") Ingredients
          each ingredient in ingredients
            .col-md-12
              p(style="text-align:left;")
                a(href='/ingredients/' + ingredient.ingredient)= ingredient.ingredient
                form(action="/users/remove_ingredient" method="post")
                  span(style="float:right;")
                    | Pounds: #{ingredient.quantity} &nbsp &nbsp
                    a(href='/ingredients/' + ingredient.ingredient + '/' + ingredient.quantity)
                      button(class="btn btn-secondary" type="button" style="margin-right: 10px; padding: 5px; background-color:#66c2ff; color: white; display:inline;") Edit
                    input(type="hidden" name="ingredient" value=ingredient.ingredient)
                    input(type="hidden" name="quantity" value=ingredient.quantity)
                    input.btn.btn-secondary(type="submit" value="Remove" style="padding: 5px; background-color:#66c2ff; color: white; display:inline;")
          p
            br
        .row
          div.pages(style="text-align:center;")
            .col-md-12
              form(action="/users/cart/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
                button.btn.btn-white(type="submit" style="padding: 5px;") <
              p(style="padding: 10px; display: inline-block;") #{parseInt(page)}
              form(action="/users/cart/" + (parseInt(page)+1).toString(), method="get" style="display: inline-block;")
                button.btn.btn-white(type="submit" style="padding: 5px;") >
        .row
          .col-md-12
            p
              br
        .row
          .col-md-10
          .col-md-2
            form(action="/users/checkout_cart" method="post")
              input.btn.btn-primary(type="submit" name="checkout" value="Checkout Cart" style="float:right;")
