extends layout
block link
  -var selected = 'Cart';

block content
  .row
  div.card
    div.card-header(data-background-color='purple')
      h4.title Cart
    div.card-content.table-response
      table.table#orderTable
        thead.text-primary
          th(onclick='sortTable(0, \'order\')') Ingredient
          th(onclick='sortTable(1, \'order\')') Total Quantity (Number of Packages)
          th
        tbody
        each order in orders
          tr
            td
              a(href='/ingredients/' + order.ingredient)= order.ingredient
            td= order.quantity
            td
              form(action="/users/remove_ingredient" method="post")
                input(type="hidden" name="ingredient" value=order.ingredient)
                input(type="hidden" name="quantity" value=order.quantity)
                span(style="float:right;")
                  a(href='/users/edit_order/' + order.ingredient)
                    button(class="btn btn-secondary" type="button" style="margin-right: 20px; padding: 5px 20px; background-color:#66c2ff; color: white; display:inline;") Edit
                  input.btn.btn-secondary(type="submit" value="Remove" style="padding: 5px 20px; background-color:#66c2ff; color: white; display:inline;")
      .row
        .col-md-10
        .col-md-2
          form(action="/users/checkout_cart" method="get")
            input.btn.btn-primary(type="submit" name="checkout" value="Checkout" style="float:right;")
      .row
        div.pages(style="text-align:center;")
          .col-md-12
            form(action="/users/cart/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
              button.btn.btn-white(type="submit" style="padding: 5px;") <
            p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
            form(action="/users/cart/" + (parseInt(page)+1).toString(), method="get" style="display: inline-block;")
              button.btn.btn-white(type="submit" style="padding: 5px;") >
