extends layout
block link
  -var selected = 'Cart';

block content
  .row
  div.card
    div.card-header(data-background-color='purple')
      h4.title Cart
    div.card-content.table-response
      table.table#orderTable
        thead.text-primary
          th(onclick='sortTable(0, \'order\')') Ingredient
          th(onclick='sortTable(1, \'order\')') Vendors (Quantity)
          th(onclick='sortTable(2, \'order\')') Total Quantity (Number of Packages)
          th
        tbody
        each order in orders
          tr
            td
              a(href='/ingredients/' + order.ingredient)= order.ingredient
            form(action="/users/edit_order" method="post")
              td
                each vendor in order.vendors
                  .row
                    .col-md-6
                      br
                      a(href='/vendors/' + vendor.code)= vendor.name
                    .col-md-6
                      .form-group(style='margin-top: 10px;')
                        input.form-control(type='number', name='quantities', value=vendor.quantity, min='0', required='', style='width: 50px;')
                      input(type="hidden" name='names' value=vendor.name)
                      input(type="hidden" name='codes' value=vendor.code)
              td= order.quantity
              td
                input(type="hidden" name="ingredient" value=order.ingredient)
                input.btn.btn-secondary(type="submit" value="Submit" style="background-color:#66c2ff; color: white; display:inline; visibility:" + order.show + ";")
      .row
        .col-md-12
          p
            br
      .row
        div.pages(style="text-align:center;")
          .col-md-12
            form(action="/users/cart/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
              button.btn.btn-white(type="submit" style="padding: 5px;") <
            p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
            form(action="/users/cart/" + (parseInt(page)+1).toString(), method="get" style="display: inline-block;")
              button.btn.btn-white(type="submit" style="padding: 5px;") >
      .row
        .col-md-10
        .col-md-2
          form(action="/users/checkout_cart" method="post")
            input.btn.btn-primary(type="submit" name="checkout" value="Checkout Cart" style="float:right;")
