extends layout

block link
  -var selected = 'Formulas';

block content
  div.card
    div.card-header(data-background-color='purple')
      h4.title Production Ingredients
    div.card-content.table-response
      input.form-control#ingredientInput(type='text',onkeyup='filterTable(\'ingredient\')', placeholder='Search for ingredients..', title='Type in some search text')
      table.table#ingredientTable
        thead.text-primary
          th(onclick='sortTable(0, \'ingredient\')') Ingredient
          th(onclick='sortTable(1, \'ingredient\')') Units in Inventory
          th(onclick='sortTable(2, \'ingredient\')') Units Needed
          th(onclick='sortTable(3, \'ingredient\')') Order (If Necessary)
        tbody
        each object in formulaObjects
          tr
            td
              a(href='/ingredients/' + object.ingredient)= object.ingredient
            td= object.currentAmount
            td= object.neededAmount
            if object.enough
              td
            else
              td
                form(action='/ingredient/' + object.ingredient + '/order', method='post')
                  button.btn.btn-primary(style='padding: 5px 10px; margin: 0px;') Order
      if orderAmounts.length > 0 
        form(action='/ingredients/order/add/to/cart', method='get')
          each order in orderAmounts
            input.hide(type='checkbox', name=order.ingredient, value=order.orderAmount, checked)
          button.btn.btn-primary.pull-right Order Remaining Ingredients
      else
        form(action='/formulas/' + formula + '/order/' + amount, method='post')
          button.btn.btn-primary.pull-right Send Ingredients to Production