extends layout

block link
  -var selected = 'Ingredients';

block content
  h1= ingredient.name
  h2= ingredient.package
  h2= ingredient.temperature
  h2= ingredient.amount

  form(action="/users/add_to_cart" method="post")
    input(id="cartbtn" type="submit" name="submit" value="Add to Cart")
    input(type="hidden" name="ingredient" value=ingredient.name)
    input(type="hidden" name="amount" value=ingredient.amount)
    label(style="color:black;padding: 0px 5px 0px 20px;") Quantity (Pounds)
    select(name="quantity")
      option(value="1") 1
      option(value=2) 2
      option(value=3) 3
      option(value=4) 4
      option(value=5) 5
      option(value=6) 6
      option(value=7) 7
      option(value=8) 8
      option(value=9) 9
      option(value=10) 10

  div.adminOnly.hide
    form(action='/ingredients/admin/' + ingredient.name + '/delete', method='post')
      button.btn.btn-primary(type='submit') Delete ingredient
    .row
      h1= 'Update ingredient'
      form(action='/ingredients/admin/' + ingredient.name + '/update', method='post')
        label.control-label Ingredient Name
        input.form-control(type='text', name='name', placeholder = 'Ingredient name', required='')
        label.control-label Package Type
        select.form-control(name='package', placeholder = '', required='')
          option(disabled='' selected='' value='') Select an option
          each package in packages
            option(value=package)= package
        label.control-label Storage Temperature
        select.form-control(name='temperature', placeholder = '', required='')
          option(disabled="" selected="" value="") Select an option
          each temp in temps
            option(value=temp)= temp
        label.control-label Amount in storage
        input.form-control(type='number', name='amount', placeholder = 'Amount in storage', required='')
        button.btn.btn-primary.pull-right(type='submit') Update ingredient

block scripts
  script.
    loadAdminIngredientContent();
