extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Ingredients';

block content
  h1= ingredient.name
  div#tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#ingredient-info') Ingredient Information
      //- li
      //-   a(data-toggle='tab', href='#vendor-info') Vendors
      li.adminOnly.hide
        a(data-toggle='tab', href='#update-form') Update Ingredient
    .tab-content
      .row.tab-pane.fade.in.active#ingredient-info
        .col-md-6
          table.table
            tr
              th Package Type
              td= ingredient.package
            tr
              th Storage Temperature
              td= ingredient.temperature
            tr
              th Native Unit
              td= ingredient.nativeUnit
            tr
              th Units per Package
              td= ingredient.unitsPerPackage
            tr
              th Units in Storage
              td= ingredient.amount
          div.delete-form
            form(action='/ingredients/' + ingredient.name + '/delete', method='post')
              button.btn.btn-primary.pull-right(style="margin: 30px 15px;" type='submit') Delete ingredient

        .col-md-6
          form(action="/users/add_to_cart" method="post")
            input.form-control(type="hidden" name="ingredient" value=ingredient.name)
            input.form-control(type="hidden" name="amount" value=ingredient.amount)
            .row
              .col-md-8
              .col-md-4
                label.control-label(style="color:black;") Quantity (Pounds)
                input.form-control(id='select_amount', type='number', name='quantity', value=amount, min="1", max=ingredient.amount)
            .row
              .col-md-8
              .col-md-4
                button.btn.btn-primary.pull-right(id="cartbtn" type="submit" name="submit" value="Add to Cart") Add to Cart

      .adminOnly.hide.card-content.tab-pane.fade#update-form
        h1= 'Update ingredient'
        form(action='/ingredients/' + ingredient.name + '/update', method='post')

          .form-group
            label.control-label Ingredient Name
            input.form-control(type='text', name='name', value = ingredient.name, required='')
          .form-group
            label.control-label Package Type
            select.form-control(name='package', placeholder = '', required='')
              each package in packages
                if package == ingredient.package
                  option(selected='' value=package)= package
                else
                  option(value=package)= package
          .form-group
            label.control-label Storage Temperature
            select.form-control(name='temperature', placeholder = '', required='')
              each temp in temps
                if temp == ingredient.temperature
                  option(selected='' value=temp)= temp
                else
                  option(value=temp)= temp
          .form-group
            label.control-label Amount in storage (Pounds)
            input.form-control(type='number', step="any", name='amount', value = ingredient.amount, required='')

          .form-group
            label.control-label Native Unit
            input.form-control(type='text', name='nativeUnit', value = ingredient.nativeUnit, required='')
          .form-group
            label.control-label Units per Package
            input.form-control(type='number', step='any', name='unitsPerPackage', value = ingredient.unitsPerPackage, required='')
          .form-group
            label.control-label Units in Storage
            input.form-control(type='number', step="any", name='amount', value = ingredient.amount, required='')

          button.btn.btn-primary.pull-right(type='submit') Update ingredient

        form(action='/ingredients/' + ingredient.name + '/add-vendor', method='post')
          .form-group
            label.control-label Vendor
            select.form-control(name='vendor', placeholder = '', required='')
              option(disabled='' selected='' value='') Select an option
              each vendor in existingVendors
                option(value=vendor._id)= vendor.code
          button.btn.btn-primary.pull-right(type='submit') Add vendor

      div.card#vendor-info
        div.card-header(data-background-color='purple')
          h4.title Vendor Information
        div.card-content.table-responsive
          table.table
            thead.text-primary
              th Vendor
              th Package
              th Units Available
              th Cost Per Unit ($)
              each vendor in vendors
                tr
                  th
                    a(href="/vendors/" + vendor.vendorCode)= vendor.vendorName
                  th= vendor.record.package
                  th= vendor.record.available
                  th= vendor.record.cost
          div.previous
            form(action='/ingredients/' + ingredient.name + '/' + amount + '/' + (parseInt(page)-1).toString(), method='get')
              button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
          div.next
            form(action='/ingredients/' + ingredient.name + '/' + amount + '/' + (parseInt(page)+1).toString(), method='get')
              button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next

//- block scripts
//-   script.
//-     loadAdminContent();
