extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Ingredients';

block content
  h1= ingredient.name
  div#tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#ingredient-info') Ingredient Information
      li.adminOnly.hide
        a(data-toggle='tab', href='#update-form') Update Ingredient
      li
        a(data-toggle='tab', href='#vendor-form') Associate Vendor
    .tab-content
      .row.tab-pane.fade.in.active#ingredient-info
        .col-md-6
          table.table
            tr
              th Package Type
              td= ingredient.package
            tr
              th Storage Temperature
              td= ingredient.temperature
            tr
              th Native Unit
              td= ingredient.nativeUnit
            tr
              th Units per Package
              td= ingredient.unitsPerPackage
            tr
              th Units in Storage
              td= ingredient.amount
          div.delete-form.adminOnly.hide
            form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/delete', method='post')
              button.btn.btn-primary.pull-right(style="margin: 30px 15px;" type='submit') Delete ingredient
        div.card#vendor-info
          div.card-header(data-background-color='purple')
            h4.title Vendor Information
          div.card-content.table-responsive
            table.table
              thead.text-primary
                th Vendor
                th Cost per Package ($)
                each vendor in vendors
                  tr
                    th
                      a(href="/vendors/" + vendor.vendorCode)= vendor.vendorName
                    th= vendor.record.cost
            div.previous
              form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/' + amount + '/' + (parseInt(page)-1).toString(), method='get')
                button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
            div.next
              form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/' + amount + '/' + (parseInt(page)+1).toString(), method='get')
                button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next

      .adminOnly.hide.card-content.tab-pane.fade#update-form
        h1= 'Update ingredient'
        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/update', method='post')

          .form-group
            label.control-label Ingredient Name
            input.form-control(type='text', name='name', value = ingredient.name, required='')
          .form-group
            label.control-label Package Type
            select.form-control(name='package', placeholder = '', required='')
              each package in packages
                if package == ingredient.package
                  option(selected='' value=package)= package
                else
                  option(value=package)= package
          .form-group
            label.control-label Storage Temperature
            select.form-control(name='temperature', placeholder = '', required='')
              each temp in temps
                if temp == ingredient.temperature
                  option(selected='' value=temp)= temp
                else
                  option(value=temp)= temp
          .form-group
            label.control-label Native Unit
            input.form-control(type='text', name='nativeUnit', value = ingredient.nativeUnit, required='')
          .form-group
            label.control-label Units per Package
            input.form-control(type='number', step='any', name='unitsPerPackage', value = ingredient.unitsPerPackage, required='')
          .form-group
            label.control-label Units in Storage
            input.form-control(type='number', step="any", name='amount', value = ingredient.amount, required='')

          button.btn.btn-primary.pull-right(type='submit') Update ingredient

      .manager.hide.card-content.tab-pane.fade#vendor-form
        h1= 'Associate Vendor'
        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/add-vendor', method='post')
          .form-group
            label.control-label Vendor
            select.form-control(name='vendor', placeholder = '', required='')
              option(disabled='' selected='' value='') Select an option
              each vendor in existingVendors
                option(value=vendor._id)= vendor.name + ' (' + vendor.code + ')'
          .form-group
            label.control-label Cost per Package
            input.form-control(type='number', step='0.01', name='cost', required='')

          button.btn.btn-primary.pull-right(type='submit') Add vendor

//- block scripts
//-   script.
//-     loadAdminContent();
