extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Ingredients';

block content
  h1(style='margin-top: 0px; display: inline-block; float: left')= ingredient.name
  form(action='/ingredients')
    button.btn.btn-primary.pull-right(type='submit', style='display: inline-block; float: right') Back to Ingredients
  div#tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#ingredient-info') Ingredient Information
      li.adminOnly.hide
        a(data-toggle='tab', href='#update-form') Update Ingredient
      li.adminOnly.hide
        a(data-toggle='tab', href='#update-stock-form') Stock
      li.manager.hide
        a(data-toggle='tab', href='#vendor-form') Associate Vendor
    .tab-content
      .tab-pane.fade.in.active#ingredient-info
        table.table
          tr
            th Package Type
            td= ingredient.package
          tr
            th Storage Temperature
            td= ingredient.temperature
          tr
            th Native Unit
            td= ingredient.nativeUnit
          tr
            th Units per Package
            td= ingredient.unitsPerPackage
          tr
            th Units in Storage
            td= ingredient.amount
          tr
            th Space in Storage (Sq ft)
            td= ingredient.space
        table.table
          th Vendor Name
          th Lot Number
          th Native Units
          for set in sets

            tr
              if set.vendor.name == 'admin'
                td= set.vendor.name
              else
                td
                  a(href="/vendors/" + set.vendor.code)= set.vendor.name
              td= set.lotNumber
              td= set.units
        div.delete-form.adminOnly.hide
          form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/delete', method='post')
            button.btn.btn-primary.pull-right(style="margin: 30px 15px;" type='submit') Delete ingredient
        div.card#vendor-info
          div.card-header(data-background-color='purple')
            h4.title Vendor Information
          div.card-content.table-responsive
            table.table
              thead.text-primary
                th Vendor
                th Cost per Package ($)
                each vendor in vendors
                  tr
                    th
                      a(href="/vendors/" + vendor.vendorCode)= vendor.vendorName
                    th= vendor.record.cost
            div.previous
              form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/' + amount + '/' + (parseInt(page)-1).toString(), method='get')
                button.btn.btn-white(type="submit" style="padding: 5px;") <
                p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
            div.next
              form(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/' + amount + '/' + (parseInt(page)+1).toString(), method='get')
                button.btn.btn-white(type="submit" style="padding: 5px;") >

      .adminOnly.hide.card-content.tab-pane.fade#update-form
        h1= 'Update ingredient'
        h3= 'Note: If you want to add stock, go to the \'stock\' tab.'
        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/update', method='post')
          .form-group
            label.control-label Ingredient Name
            input.form-control(type='text', name='name', value = ingredient.name, required='')
          .form-group
            label.control-label Package Type
            select.form-control(name='package', placeholder = '', required='')
              each package in packages
                if package == ingredient.package
                  option(selected='' value=package)= package
                else
                  option(value=package)= package
          .form-group
            label.control-label Storage Temperature
            select.form-control(name='temperature', placeholder = '', required='')
              each temp in temps
                if temp == ingredient.temperature
                  option(selected='' value=temp)= temp
                else
                  option(value=temp)= temp
          .form-group
            label.control-label Native Unit
            input.form-control(type='text', name='nativeUnit', value = ingredient.nativeUnit, required='')
          .form-group
            label.control-label Units per Package
            input.form-control(type='number', step='any', name='unitsPerPackage', value = ingredient.unitsPerPackage, required='')

          button.btn.btn-primary.pull-right(type='submit') Update ingredient

      .adminOnly.hide.card-content.tab-pane.fade#update-stock-form
        h1 Update ingredient stock
        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/updatelot', method='post')
          h3 Add Lot
          .form-group
            label.control-label Native Units in Lot
            input.form-control(type='number', step='any', min='0', name='amount', placeholder='Number of Native Units', required='')
          .form-group
            label.control-label Vendor
            select.form-control(name='vendor', placeholder = '', required='')
              option(selected='' value='admin') Admin (no vendor)
              each vendor in existingVendors
                option(value=vendor._id)= vendor.name + ' (' + vendor.code + ')'
          .form-group
            label.control-label Lot Number
            input.form-control(type='number', step='1', name='lotNumber', placeholder='Lot Number')
          button.btn.btn-primary.pull-right(type='submit') Add Lot

        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/updateamount', method='post')
          h3 Remove Stock
          .form-group
            label.control-label Amount (The oldest lot(s) will be consumed)
            input.form-control(type='number', step='any', min='0', max = ingredient.amount, name='amount', value = ingredient.amount, required='')
          button.btn.btn-primary.pull-right(type='submit') Update Stock


      .manager.hide.card-content.tab-pane.fade#vendor-form
        h1= 'Associate Vendor'
        form.form-group(action='/ingredients/' + encodeURIComponent(ingredient.name) + '/add-vendor', method='post')
          .form-group
            label.control-label Vendor
            select.form-control(name='vendor', placeholder = '', required='')
              option(disabled='' selected='' value='') Select an option
              each vendor in existingVendors
                option(value=vendor._id)= vendor.name + ' (' + vendor.code + ')'
          .form-group
            label.control-label Cost per Package
            input.form-control(type='number', step='0.01', name='cost', required='')

          button.btn.btn-primary.pull-right(type='submit') Add vendor

//- block scripts
//-   script.
//-     loadAdminContent();
