extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Ingredients';

block content
  form(action='/ingredients/search_results' method='get')
    div.search-bar
      input.form-control(type='text', name='name', placeholder='Search for Ingredient Name')
    div.search-button
      button.btn.btn-primary(type='submit', value='search') Search
    div.package-select
      label.search-label Package Type
      each package in packages
        div
          input(type='checkbox', name='package', value=package)
          label.options=package
    div.temp-select
      label.search-label Storage Temperature
      each temp in temps
        div
          input(type='checkbox', name='temperature', value=temp)
          label.options=temp

  div#tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#ing-table') Ingredients
      li.adminOnly.hide
        a(data-toggle='tab', href='#create_form') Create
    .tab-content
      #ing-table.tab-pane.fade.in.active
        table.table
          thead.text-primary
            th Ingredient
            th Package
            th Temperature
            th Amount
          tbody
          each ing in ingredients
            tr
              th
                a(href='/ingredients/' + ing.name)= ing.name
              th= ing.package
              th= ing.temperature
              th= ing.amount

      .card-content.tab-pane.fade#create_form.adminOnly.hide
        h1= 'Create new ingredient'
        form(action='/ingredients/admin/new', method='post')
          label.control-label Ingredient Name
          input.form-control(type='text', name='name', placeholder = 'Ingredient name', required='')
          label.control-label Package Type
          select.form-control(name='package', placeholder = '', required='')
            option(disabled='' selected='' value='') Select an option
            each package in packages
              option(value=package)= package
          label.control-label Storage Temperature
          select.form-control(name='temperature', placeholder = '', required='')
            option(disabled="" selected="" value="") Select an option
            each temp in temps
              option(value=temp)= temp
          label.control-label Amount in Storage
          input.form-control(type='number', name='amount', placeholder = 'Amount in storage', required='')
          button.btn.btn-primary.pull-right(type='submit', value='add ingredient') Create ingredient

block scripts
  script.
    loadAdminIngredientContent();
