extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Ingredients';

block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#ing-table') Ingredients
      li.adminOnly.hide
        a(data-toggle='tab', href='#create_form') Create

    .tab-content
      #ing-table.tab-pane.fade.in.active
        form(action='/ingredients/search_results/1' method='get')
          div.search-bar
            input.form-control(type='text', name='name', placeholder='Search for Ingredient Name')
          div.package-select
            label.search-label Package Type
            each package in packages
              div
                input(type='checkbox', name='package', value=package)
                label.options=package
          div.temp-select
            label.search-label Storage Temperature
            each temp in temps
              div
                input(type='checkbox', name='temperature', value=temp)
                label.options=temp
            div.search-button
              button.btn.btn-white.btn-round.btn-just-icon(type='submit', value='search')
                i.material-icons search
        div.card
          div.card-header(data-background-color='purple')
            h4.title Ingredients
          div.card-content.table-response
            //- input.form-control#ingredientInput(type='text',onkeyup='filterTable(\'ingredient\')', placeholder='Search for ingredients..', title='Type in some search text')
            table.table#ingredientTable
              thead.text-primary
                th(onclick='sortTable(0, \'ingredient\')') Ingredient
                th(onclick='sortTable(1, \'ingredient\')') Package
                th(onclick='sortTable(2, \'ingredient\')') Temperature
                th(onclick='sortTable(3, \'ingredient\')') Native Unit
                th(onclick='sortTable(4, \'ingredient\')') Units per Package
                th(onclick='sortTable(5, \'ingredient\')') Units in Storage
                th(onclick='sortTable(6, \'ingredient\')') Space in Storage (Sq Feet)
                th.adminOnly.hide Remove
              tbody
              each ing in ingredients
                tr
                  td
                    a(href='/ingredients/' + encodeURIComponent(ing.name))= ing.name
                  td= ing.package
                  td= ing.temperature
                  td= ing.nativeUnit
                  td= ing.unitsPerPackage
                  td= ing.amount
                  td= ing.space
                  td.adminOnly.hide
                    form(action='/ingredients/' + ing.name + '/delete', method='post')
                      button.btn.btn-primary(type='submit', style='margin:0px; padding: 5px 10px;') Remove
            div.previous
              form(action='/ingredients/search_results/' + (parseInt(page)-1).toString() + '/' + searchQuery, method='get')
                button.btn.btn-white(type="submit" style="padding: 5px;") <
                p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
            div.next
              form(action='/ingredients/search_results/' + (parseInt(page)+1).toString() + '/' + searchQuery, method='get')
                button.btn.btn-white(type="submit" style="padding: 5px;") >


      .card-content.tab-pane.fade#create_form.adminOnly.hide
        h1= 'Create new ingredient'
        h3= 'Note: If you want to add stock, go to the \'stock\' tab after you create the ingredient.'
        form(action='/ingredients/new', method='post')
          .form-group
            label.control-label Ingredient Name
            input.form-control(type='text', name='name', required='')
          .form-group
            label.control-label Package Type
            select.form-control(name='package', placeholder = '', required='')
              option(disabled='' selected='' value='') Select an option
              each package in packages
                option(value=package)= package
          .form-group
            label.control-label Storage Temperature
            select.form-control(name='temperature', placeholder = '', required='')
              option(disabled='' selected='' value='') Select an option
              each temp in temps
                option(value=temp)= temp
          .form-group
            label.control-label Native Unit
            input.form-control(type='text', name='nativeUnit', placeholder = '', required='')
          .form-group
            label.control-label Units per Package
            input.form-control(type='number', step='any', name='unitsPerPackage', required='')

          button.btn.btn-primary.pull-right(type='submit', value='add ingredient') Create ingredient

//- block scripts
//-   script.
//-     loadAdminContent();
