extends layout

block link
  -var selected = 'Inventory';

block content
  ul.nav.nav-tabs
    li.active.adminOnly.hide
      a(data-toggle='tab', href='#update_limits') Update
    li
      a(data-toggle='tab', href='#see_limits') View

  .tab-content
    .card-content#update_limits.tab-pane.fade.in.active
      h1= 'Update Inventory Limits'
      form(action='/inventory/update_limits', method='post')
        .form-group
          label.control-label Frozen Limit
          input.form-control(type='number', name='frozen', placeholder = 'Frozen Limit', value=frozen)
        .form-group
          label.control-label Refrigerator Limit
          input.form-control(type='number', name='refrigerated', placeholder = 'Refrigerator Limit', value=refrigerated)
        .form-group
          label.control-label Room Limit
          input.form-control(type='number', name='room', placeholder = 'Room Limit', value=room)
        button.btn.btn-primary.pull-right(type='submit', value='update') Update

    .card-content#see_limits.tab-pane.fade
      h1= 'View Inventory Status'
      h4= 'Frozen: ' + inventory['current']['frozen'] + ' lb out of ' + inventory['limits']['frozen'] + ' occupied.'
      h4= 'Refrigerated: ' + inventory['current']['refrigerated'] + ' lb out of ' + inventory['limits']['refrigerated'] + ' occupied.'
      h4= 'Room: ' + inventory['current']['room'] + ' lb out of ' + inventory['limits']['room'] + ' occupied.'




block scripts
  script.
    loadAdminOnlyContent();
