extends layout
block link
  -var selected = 'Logs';

block content
  .row
    h1 #{title}
    h3 #{time}
    h3 Initiating user: #{user}
    h3 Entities: #{entities}
    h4 Description: 
    ul#description
    div#descriptionValues(data-description=description)

block scripts
  script.
    loadPugView()
      