extends layout
block link
  -var selected = 'Logs';

block content
  .row
    form.hide(action='/logs/delete/', method='post')
      button.btn.btn-primary.pull-right(type='submit', value='Delete') Clear all
    form(action='/logs/date', method='get')
      h4 Sort logs by date
      .form-group
        label.control-label Start date
        input.form-control(type='date' name='start')
      .form-group
        label.control-label End date
        input.form-control(type='date' name='end')
      button.btn.btn-primary.pull-right(type='submit', value='Filter') Filter
    div.card
      div.card-header(data-background-color='purple')
        h4.title Logs
      div.card-content.table-response
        input.form-control#logInput(type='text',onkeyup='filterTable(\'log\')', placeholder='Search for logs..', title='Type in some search text')
        table.table#logTable
          thead.text-primary
            th(onclick='sortTable(0, \'log\')') Title
            th(onclick='sortTable(0, \'log\')') Time
            th(onclick='sortTable(0, \'log\')') Description
            th(onclick='sortTable(0, \'log\')') Initiating User
            //- th(onclick='sortTable(0, \'log\')') Related entities
          tbody
          each log in logs
            tr(id=log._id)
              td
                a(href='/logs/log/'+log._id)= log.title
              td= log.time
              if log.description
                td!= log.description
              td= log.initiating_user
              //- td= log.entities
      div.pages(style="text-align:center;")
        .col-md-12
          form(action="/logs/page/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
            button.btn.btn-white(type="submit" style="padding: 5px;") <
          p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
          form(action="/logs/page/" + (parseInt(page)+1).toString(), method="get" style="display: inline-block;")
            button.btn.btn-white(type="submit" style="padding: 5px;") >

block scripts
  script.
    $('#datetimepicker1').datepicker();