extends layout

block link
  -var selected = 'Orders';

block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#order-info') Order Info
      li.adminOnly.hide
        a(data-toggle='tab', href='#assign-lots') Assign Lots

    .tab-content
      #order-info.tab-pane.fade.in.active
        div.card
          div.card-header(data-background-color='purple')
            h4.title Formulas
          div.card-content.table-response
            table.table#formulaTable
              thead.text-primary
                th(onclick='sortTable(0, \'formula\')') Ingredient
                th(onclick='sortTable(1, \'formula\')') Quantity
                th(onclick='sortTable(2, \'formula\')') Vendor
                th(onclick='sortTable(3, \'formula\')') Current Lot
              tbody
              each order in orders
                tr
                  td
                    a(href='/ingredients/' + order.ingredient)= order.ingredient
                  td
                    each vendor in order.vendors
                      a(href='/vendors/' + vendor.code)= vendor.name
                      |  (#{vendor.quantity})
                      br
                  td= order.quantity
      .card-content.tab-pane.fade#assign-lots.adminOnly.hide
        h1= 'Assign Lot Numbers'
        form(action='/users/lot_assignment/assign', method='post')
          div.tupleRow#data2(data-ingredients=ingredients)
            .row
              .col-md-11
                .row#tuple1
                  .col-md-6
                    .form-group
                    label.control-label Lot Number
                    input#lotnumber1.form-control(type='text', name='lotnumber1',required='')
                  .col-md-4
                    .form-group
                    label.control-label Quantity
                    input#quantity1.form-control(type='number', name='quantity1', min='0', step='0.01', required='')
                  .col-md-2
                    p
                      br
                      br
                      br
                      br
                    button.btn.btn-round.btn-just-icon.remove(type='button', value='remove', onclick='deleteTuple(1)', style='background-color:red;')
                      i.material-icons delete
              .col-md-1
                p
                  br
                button#btn1.btn.btn-round.btn-just-icon.add-more(type='button', value='add')
                  i.material-icons add
          .form-group
            label.control-label Number of Units Produced
            input.form-control(type='number', name='units', min='0', required='')
          button.btn.btn-primary.pull-right(type='submit', value='add vendor') Assign Lots
        div.previous
          form(action='/users/lot_assignment' + '/' + (parseInt(page)-1).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") <
            p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
        div.next
          form(action='/users/lot_assignment' + '/' + (parseInt(page)+1).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") >
  div#index2(data-start=1)

block scripts
  script.
    var ingredients = document.getElementById('data2').dataset.ingredients;
    ingredients = JSON.parse(ingredients);
    createTuples(ingredients, 1);
