extends layout
block link
  -var selected = 'Orders';

block content
  form(action='/orders')
    button.btn.btn-primary.pull-right(type='submit', style='display: inline-block; float: right') Back to Orders
  .row
    div.card
      div.card-header(data-background-color='purple')
        h4.title Orders
      div.card-content.table-response
        input.form-control#logInput(type='text',onkeyup='filterTable(\'log\')', placeholder='Search for order..', title='Type in some search text')
        table.table#ordersTable
          thead.text-primary
            th Ingredient
            th Vendor
            th Quantity
            th Arrived
            th Lot Number
          tbody
          each prod in products
            tr(id=prod._id)
              td
                a(href='/ingredients/' + prod.ingID.name)= prod.ingID.name
              td
                a(href='/vendors/' + prod.vendID.code)= prod.vendID.name
              td= prod.quantity
              td= prod.arrived
              td= prod.assigned
              td.adminOnly.hide
                if !prod.arrived
                  form(action='/orders/' + order.orderNumber + '/arrived/' + prod.ingID.id + '/' + prod.vendID.id, method='post')
                    button.btn.btn-primary(type='submit', style='margin:0px; padding: 5px 10px;', onclick='this.disabled = #{prod.arrived};') Mark Arrived
                    //<button onclick="getElementById('hidden-div').style.display = 'block'; this.style.display = ">Check Availability</button>

              //- td= log.entities
block scripts
  script.
    $('#datetimepicker1').datepicker();
