extends layout
block link
  -var selected = 'Orders';

block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#order-pending') Pending Orders
      li.adminOnly.hide
        a(data-toggle='tab', href='#order-completed') Completed Orders

    .tab-content
      #order-pending.tab-pane.fade.in.active
        div.card
          div.card-header(data-background-color='purple')
            h4.title Pending Orders
          div.card-content.table-response
            table.table#pendingOrderTable
              thead.text-primary
                th(onclick='sortTable(0, \'log\')') Order Number
                th(onclick='sortTable(0, \'log\')') Order Time
                th(onclick='sortTable(0, \'log\')') Arrival Time
                th(onclick='sortTable(0, \'log\')') Status
                //- th(onclick='sortTable(0, \'log\')') Related entities
              tbody
              each order in pendingOrders
                tr(id=order._id)
                  td
                    a(href='/orders/' + order.orderNumber)= order.orderNumber
                  td= order.orderTimeStamp
                  td= order.arrivalTimeStamp
                  td= order.completed ? "Delivered" : "Not Delivered"

      .card-content.tab-pane.fade#order-completed
        div.card
          div.card-header(data-background-color='purple')
            h4.title Completed Orders
          div.card-content.table-response
            table.table#completedOrderTable
              thead.text-primary
                th(onclick='sortTable(0, \'log\')') Order Number
                th(onclick='sortTable(0, \'log\')') Order Time
                th(onclick='sortTable(0, \'log\')') Arrival Time
                th(onclick='sortTable(0, \'log\')') Lot Status
                //- th(onclick='sortTable(0, \'log\')') Related entities
              tbody
              each order in completedOrders
                tr(id=order._id)
                  td
                    a(href='/orders/' + order.orderNumber)= order.orderNumber
                  td= order.orderTimeStamp
                  td= order.arrivalTimeStamp
                  td= order.assigned === "none" ? "Lots Not Assigned" : "Lots Assigned"

block scripts
  script.
    $('#datetimepicker1').datepicker();
