extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Orders';

block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#order-pending') Pending Orders
      li.adminOnly.hide
        a(data-toggle='tab', href='#order-completed') Completed Orders

    .tab-content
      #order-pending.tab-pane.fade.in.active
        div.card
          div.card-header(data-background-color='purple')
            h4.title Pending Orders
          div.card-content.table-response
            input.form-control#orders1Input(type='text',onkeyup='filterOrderTable(\'orders1\')', placeholder='Search for order..', title='Type in some search text')
            table.table#orders1Table
              thead.text-primary
                th Order Number
                th Order Time
                th Arrival Time
                th Status
              tbody
              each order in pendingOrders
                tr(id=order)
                  td
                    a(href='/orders/' + order.orderNumber)= order.orderNumber
                  td= order.orderTimeStamp
                  td= order.arrivalTimeStamp
                  td= order.completed ? "Delivered" : "Not Delivered"

        div.previous
          form(action='/orders/home/' + (parseInt(pageOne)-1).toString() + '/' + (parseInt(pageTwo)).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") <
            p(style="padding: 10px; display: inline-block;") Page #{parseInt(pageOne)}
        div.next
          form(action='/orders/home/' + (parseInt(pageOne)+1).toString() + '/' + (parseInt(pageTwo)).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") >

      .card-content.tab-pane.fade#order-completed
        div.card
          div.card-header(data-background-color='purple')
            h4.title Completed Orders
          div.card-content.table-response
            input.form-control#orders2Input(type='text',onkeyup='filterOrderTable(\'orders2\')', placeholder='Search for order..', title='Type in some search text')
            table.table#orders2Table
              thead.text-primary
                th Order Number
                th Order Time
                th Arrival Time
                th Lot Status
              tbody
              each order in completedOrders
                tr(id=order)
                  td
                    a(href='/orders/' + order.orderNumber)= order.orderNumber
                  td= order.orderTimeStamp
                  td= order.arrivalTimeStamp
                  td= order.assigned ? "Assigned" : "Unassigned"
        div.previous
          form(action='/orders/home/' + (parseInt(pageOne)).toString() + '/' + (parseInt(pageTwo)-1).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") <
            p(style="padding: 10px; display: inline-block;") Page #{parseInt(pageTwo)}
        div.next
          form(action='/orders/home/' + (parseInt(pageOne)).toString() + '/' + (parseInt(pageTwo)+1).toString(), method='get')
            button.btn.btn-white(type="submit" style="padding: 5px;") >

block scripts
  script.
    $('#datetimepicker1').datepicker();
