extends layout

block link
  -var selected = 'Production Lines';


block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#productionLineTable') Production Lines
      li.adminOnly.hide
        a(data-toggle='tab', href='#create_form') Create

    .tab-content
      #productionLineTable.tab-pane.fade.in.active
        div.card
          div.card-header(data-background-color='purple')
            h4.title Production Line
          div.card-content.table-response
            table.table#productionLine
              thead.text-primary
                th(onclick='sortTable(0, \'productionLine\')') Production Line
                th(onclick='sortTable(1, \'productionLine\')') Description
                th(onclick='sortTable(2, \'productionLine\')') Busy
                th.manager.hide Mark Complete
                th.adminOnly.hide Remove
              tbody
              each line in productionLines
                tr
                  td
                    a(href='/production_lines/production_line/' + encodeURIComponent(line.name))= line.name
                  td= line.description
                  td= line.busy
                  td.manager.hide
                    if line.busy == true
                      form(action='/production_lines/mark_completed/' + line._id, method='post')
                        button.btn.btn-primary(type='submit', value='complete productionline', style='padding: 7px 21px;') Complete
                  td.adminOnly.hide
                    if line.busy == false
                      form(action='/production_lines/delete/' + line._id, method='post')
                        button.btn.btn-primary(type='submit', style='margin:0px; padding: 5px 10px;') Remove
          div.pages(style="text-align:center;")
            .col-md-12
              form(action="/production_lines/page/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
                button.btn.btn-white(type="submit" style="padding: 5px;") <
              p(style="padding: 10px; display: inline-block;") Page #{parseInt(page+1)}
              - var endpoint = "/production_lines/page/";
              - var pageCount = (parseInt(page + 1)).toString();
              if maxPage
                - pageCount = (parseInt(page)).toString();
              form(action=endpoint + pageCount, method="get" style="display: inline-block;")
                button.btn.btn-white(type="submit" style="padding: 5px;") >


      .card-content.tab-pane.fade#create_form.adminOnly.hide
        h1= 'Create new production line'
        form(action='/production_lines/new', method='post')
          .form-group
            label.control-label Production Line Name
            input.form-control(type='text', name='name', required='')
          .form-group
            label.control-label Description
            input.form-control(type='text', name='description', required='')
          .form-group
            label.control-label Formulas
            select.form-control(name='formulas', placeholder = '', multiple)
              option(disabled='' selected='' value='') Select an option
              each formula in formulas
                option(value=formula._id)= formula.name
          button.btn.btn-primary.pull-right(type='submit', value='create production line') Create production line
