extends layout

block link
  -var selected = 'Production Line';


block content
  div.card-tabs
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#productionLine') Production Line Information
      li.adminOnly.hide
        a(data-toggle='tab', href='#edit_form') Edit

    .tab-content
      #productionLine.tab-pane.fade.in.active
        table.table
          tr
            th Name
            td= productionLine.name
          tr
            th Description
            td= productionLine.description
          tr
            th Busy
            td= productionLine.busy
          tr
            th Formulas
            td
              each formula in productionLine.formulas
                li
                  a.lineFormula(href="/formulas/id/" + formula.formulaId, data-id=formula.formulaId)

      .card-content.tab-pane.fade#edit_form.adminOnly.hide
        h1= 'Update production line'
        form(action='/production_lines/update/' + productionLine._id, method='post')
          .form-group
            label.control-label Production Line Name
            input.form-control(type='text', name='name', value=productionLine.name, required='')
          .form-group
            label.control-label Description
            input.form-control(type='text', name='description', value=productionLine.description, required='') 
          .form-group
            label.control-label Formulas
            select.form-control(name='formulas', placeholder = '', multiple)
              option(disabled='' selected='' value='') Select an option
              each formula in formulas
                for prodFormula in productionLine.formulas
                  if formula._id.toString() == prodFormula.formulaId
                    option(value=formula._id, selected)= formula.name
                  else
                    option(value=formula._id)= formula.name
          button.btn.btn-primary.pull-right(type='submit', value='create production line') Update

block scripts
  script.
    updateLineFormulaNames();