extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Vendors';



block content
  #vendor-table
  div.card
    div.card-header(data-background-color='purple')
      h4.title Vendors
    div.card-content.table-response
      input.form-control#vendorInput(type='text',onkeyup='filterTable(\'vendor\')', placeholder='Search for vendors..', title='Type in some search text')
      table.table#vendorTable
        thead.text-primary
          th(onclick='sortTable(0, \'vendor\')') Vendor
          th(onclick='sortTable(1, \'vendor\')') Code
          th(onclick='sortTable(2, \'vendor\')') Contact
          th(onclick='sortTable(3, \'vendor\')') Location
        tbody
        each vendor in vendors
          tr
            td
              a(href='/vendors/' + vendor.code)= vendor.name
            td= vendor.code
            td= vendor.contact
            td= vendor.location.state
      div.previous
        form(action='/vendors/home/' + (parseInt(page)-1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
      div.next
        form(action='/vendors/home/' + (parseInt(page)+1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next
  ul.nav.nav-tabs
    li.active.adminOnly.hide
      a(data-toggle='tab', href='#create_vendor') Create
    //- li
    //-   a(data-toggle='tab', href='#search_vendor') Search

  .tab-content
    .card-content#create_vendor.tab-pane.fade.in.adminOnly.active
      h1= 'Create Vendor'
      form(action='/vendors/new', method='post')
        .form-group
          label.control-label Vendor name
          input.form-control(type='text', name='name', required='')
        .form-group
          label.control-label Contact Info
          input.form-control(type='text', name='contact', required='')
        .form-group
          label.control-label City
          input.form-control(type='text', name='city', required='')
        .form-group
          label.control-label State
          input.form-control(type='text', name='state', required='')
        button.btn.btn-primary.pull-right(type='submit', value='add vendor') Add vendor

    //- .card-content#search_vendor.tab-pane.fade.in.active
    //-   h1= 'Search for Vendor'
    //-   form(action='/vendors/search', method='get')
    //-     .form-group
    //-       label.control-label Name
    //-       input.form-control(type='text', name='name', )
    //-     .form-group
    //-       label.control-label Ingredient
    //-       input.form-control(type='text', name='ingredient')
    //-     .form-group
    //-       label.control-label Location
    //-       input.form-control(type='text', name='location')
    //-     .form-group
    //-       label.control-label Vendor Code
    //-       input.form-control(type='text', name='code')
    //-     button.btn.btn-primary.pull-right(type='submit', value='search') Search



block scripts
  script.
    loadAdminOnlyContent();
