extends layout

block css
  link(href='/stylesheets/ingredients.css', rel='stylesheet')

block link
  -var selected = 'Vendors';



block content
  #vendor-table
  div.card
    div.card-header(data-background-color='purple')
      h4.title Vendors
    div.card-content.table-response
      table.table
        thead.text-primary
          th Vendor
          th Code
          th Contact
          th Location
        tbody
        each vendor in vendors
          tr
            th
              a(href='/vendors/' + vendor.code)= vendor.name
            th= vendor.code
            th= vendor.contact
            th= vendor.location.state
      div.previous
        form(action='/vendors/home/' + (parseInt(page)-1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
      div.next
        form(action='/vendors/home/' + (parseInt(page)+1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next
  ul.nav.nav-tabs
    li.active.adminOnly.hide
      a(data-toggle='tab', href='#create_vendor') Create
    li
      a(data-toggle='tab', href='#search_vendor') Search

  .tab-content
    .card-content#create_vendor.tab-pane.fade.in.adminOnly.hide
      h1= 'Create Vendor'
      form(action='/vendors/new', method='post')
        .form-group
          label.control-label Vendor name
          input.form-control(type='text', name='name', required='')
        .form-group
          label.control-label Contact Info
          input.form-control(type='text', name='contact', required='')
        .form-group
          label.control-label City
          input.form-control(type='text', name='city', required='')
        .form-group
          label.control-label State
          input.form-control(type='text', name='state', required='')
        button.btn.btn-primary.pull-right(type='submit', value='add vendor') Add vendor

    .card-content#search_vendor.tab-pane.fade.in.active
      h1= 'Search for Vendor'
      form(action='/vendors/search', method='get')
        .form-group
          label.control-label Name
          input.form-control(type='text', name='name', )
        .form-group
          label.control-label Ingredient
          input.form-control(type='text', name='ingredient')
        .form-group
          label.control-label Location
          input.form-control(type='text', name='location')
        .form-group
          label.control-label Vendor Code
          input.form-control(type='text', name='code')
        button.btn.btn-primary.pull-right(type='submit', value='search') Search



block scripts
  script.
    loadAdminOnlyContent();
