extends layout

block link
  -var selected = 'Vendors';

block content
  form.adminOnly.hide(action='/vendors/' + vendor.code + '/delete', method='post')
    button.btn.btn-primary.pull-right(type='submit', value = 'Delete vendor') Delete
  h1= vendor.name
  p(style='white-space: pre;').
    Code:
    #{vendor.code}
  p(style='white-space: pre;').
    Contact:
    #{vendor.contact}
  p(style='white-space: pre;').
    Location:
    #{vendor.location}
  div.card
    div.card-header(data-background-color='purple')
      h4.title Catalogue
    div.card-content.table-response
      table.table
        thead.text-primary
          th Ingredient
          th Cost
          th Package
          th Temperature
          tbody
          each ing in catalogue
            tr
              th
                a(href='/ingredients/' + ing.ingredient.name)= ing.ingredient.name
                th= ing.cost
                th= ing.ingredient.package
                th= ing.ingredient.temperature
                th
                  a(href='/vendors/' + vendor.code + '/' + 'remove_ingredient' + '/' +  ing['ingredient']['_id']) Remove
      div.previous
        form(action='/vendors/' + vendor.code + '/' + (parseInt(page)-1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
      div.next
        form(action='/vendors/' + vendor.code + '/' + (parseInt(page)+1).toString(), method='get')
          button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next


  ul.nav.nav-tabs
    li.active.adminOnly.hide
      a(data-toggle='tab', href='#update') Update
    li.adminOnly.hide
      a(data-toggle='tab', href='#add') Add Ingredient
    li.adminOnly.hide
      a(data-toggle='tab', href='#updateing') Update Ingredient
    li.manager.hide
      a(data-toggle='tab', href='#order') Make Order
  .tab-content
    #update.tab-pane.fade.in.active.adminOnly.hide
      h1= 'Update vendor'
      form(action='/vendors/' + vendor.code + '/update', method='post')
        .form-group
          label.control-label Vendor Name
          input.form-control(type='text', name='name', required='', value=vendor.name)
        .form-group
          label.control-label Freight Code
          input.form-control(type='text', name='code',required='',value=vendor.code)
        .form-group
          label.control-label Contact Info
          textarea.form-control(name='contact' rows='5' cols='100',required='') #{vendor.contact}
        .form-group
          label.control-label Location
          input.form-control(type='text', name='location', value=vendor.location)
        button.btn.btn-primary.pull-right(type='submit', value='Vendor Updated') update
    #add.tab-pane.fade.in.adminOnly.hide
      h1= 'Add Ingredient'
      form(action='/vendors/' + vendor.code + '/add_ingredients', method='post')
        .form-group
          label.control-label Ingredients
          select.form-control(name='ingredient', placeholder = '', required='')
            option(disabled="" selected="" value="") Select an option
            each ing in ingredientList
              option(value=ing._id)= ing['name']
        .form-group
          label.control-label Cost
          input.form-control(type='number', name='cost', min='0', step="any", required='')
        button.btn.btn-primary.pull-right(type='submit', value='ingredient added') Add

    #updateing.tab-pane.fade.in.adminOnly.hide
      h1= 'Update Ingredient'
      form(action='/vendors/' + vendor.code + '/update_ingredients', method='post')
        .form-group
          label.control-label Ingredient
          select.form-control(name='ingredient', placeholder = '', required='')
            option(disabled="" selected="" value="") Select an option
            each ing in catalogue
              option(value=ing['ingredient'].id)= ing['ingredient']['name']
        .form-group
          label.control-label Cost (per unit)
          input.form-control(type='number', name='cost', min='0', step="any",required='')
        button.btn.btn-primary.pull-right(type='submit', value='ingredient added') Update


    #order.tab-pane.manager.fade.in
      h1= 'Make Order'
      form(action='/vendors/' + vendor.code + '/order', method='post')
        .form-group
          label.control-label Ingredient
          select.form-control(name='ingredient', placeholder = '', required='')
            option(disabled="" selected="" value="") Select an option
            each ing in catalogue
              option(value=ing['ingredient']['_id'])= ing['ingredient']['name']
        .form-group
          label.control-label Quantity (Number of storage units)
          input.form-control(type='number', name='quantity', min='0', required='')
        button.btn.btn-primary.pull-right(type='submit', value='order made') Add to Cart
