extends layout

block link
  -var selected = 'Vendors';

block content
  form(action='/vendors/' + vendor.code + '/delete', method='post')
    button.btn.btn-primary.pull-right(type='submit', value = 'Delete vendor') Delete
  h1= vendor.name
  h4= 'Code: ' + vendor.code
  h4= vendor.contact
  h2= 'Catalogue'

  #ing-table
    table.table
      thead.text-primary
        th Ingredient
        th Cost
        th Package
        th Temperature
        th Available
      tbody
      each ing in catalogue
        tr
          th
            a(href='/ingredients/' + ing['ingredient'])= ing.ingredient
          th= ing.cost
          th= ing.package
          th= ing.temp
          th= ing.available
    div.previous
      form(action='/vendors/'+vendor.code + '/' + (parseInt(page)-1).toString() method='get')
        button.btn.btn-white.btn-round.btn-just-icon(type='submit') Prev
    div.next
      form(action='/vendors/'+vendor.code + '/' + (parseInt(page)+1).toString() method='get')
        button.btn.btn-white.btn-round.btn-just-icon(type='submit') Next

  ul.nav.nav-tabs
    li.active.adminOnly.hide
      a(data-toggle='tab', href='#update') Update
    li.adminOnly.hide
      a(data-toggle='tab', href='#add') Add Ingredient
    li
      a(data-toggle='tab', href='#updateing') Update Ingredient
    li
      a(data-toggle='tab', href='#order') Make Order
  .tab-content
    #update.tab-pane.fade.in.active
      h1= 'Update vendor'
      form(action='/vendors/' + vendor.code + '/update', method='post')
        label.control-label Vendor Name
        input.form-control(type='text', name='name', placeholder = 'Vendor name', required='', value=name)
        label.control-label Freight Code
        input.form-control(type='text', name='code', placeholder = 'Freight Code', required='',value=code)
        label.control-label Contact Info
        input.form-control(type='text', name='contact', placeholder = 'Contact Info', required='',value=contact)
        label.control-label Location
        input.form-control(type='text', name='location', placeholder = 'Location',value=location)
        button.btn.btn-primary.pull-right(type='submit', value='Vendor Updated') update
    #add.tab-pane.fade.in.adminOnly.hide
      h1= 'Add Ingredient'
      form(action='/vendors/' + vendor.code + '/add_ingredients', method='post')
        label.control-label Ingredient
        input.form-control(type='text', name='ingredient', placeholder = 'Ingredient', required='')
        label.control-label Cost
        input.form-control(type='text', name='cost', placeholder = 'Cost/Unit', required='')
        button.btn.btn-primary.pull-right(type='submit', value='ingredient added') add

    #updateing.tab-pane.fade.in.adminOnly.hide
      h1= 'Update Ingredient'
      form(action='/vendors/' + vendor.code + '/update_ingredients', method='post')
        label.control-label Ingredient
        select.form-control(name='ingredient', placeholder = '', required='')
          option(disabled="" selected="" value="") Select an option
          each ing in catalogue
            option(value=temp)= ing['ingredient']
        label.control-label Cost
        input.form-control(type='text', name='cost', placeholder = 'Cost/Unit', required='')
        button.btn.btn-primary.pull-right(type='submit', value='ingredient added') update


    #order.tab-pane.fade.in
      h1= 'Make Order'
      form(action='/vendors/' + vendor.code + '/order', method='post')
        label.control-label Ingredient
        select.form-control(name='ingredient', placeholder = '', required='')
          option(disabled="" selected="" value="") Select an option
          each ing in catalogue
            option(value=temp)= ing['ingredient']
        label.control-label Quantity
        input.form-control(type='text', name='quantity', placeholder = 'Quantity', required='')
        button.btn.btn-primary.pull-right(type='submit', value='order made') order

block scripts
  script.
    loadAdminOnlyContent();
