extends layout

block content
  h1= vendor.name
  h2= vendor.code
  h2= vendor.contact
  h2= vendor.location

  h1= 'Update vendor'
  form(action='/vendors/' + vendor.code + '/update', method='post')
    label.control-label Vendor Name
    input.form-control(type='text', name='name', placeholder = 'Vendor name', required='')
    label.control-label Contact Info
    input.form-control(type='text', name='contact', placeholder = 'Contact Info', required='')
    label.control-label City
    input.form-control(type='text', name='city', placeholder = 'city', required='')
    label.control-label State
    input.form-control(type='text', name='state', placeholder = 'state', required='')


  h1= 'Add Ingredient'
  form(action='/vendors/' + vendor.code + '/add_ingredients', method='post')
    label.control-label Ingredient
    input.form-control(type='text', name='ingredient', placeholder = 'Ingredient', required='')
    label.control-label Size
    input.form-control(type='text', name='size', placeholder = 'Size', required='')
    label.control-label Quantity
    input.form-control(type='text', name='quantity', placeholder = 'Quantity', required='')
    label.control-label Cost
    input.form-control(type='text', name='cost', placeholder = 'Cost/Unit', required='')
    button.btn.btn-primary.pull-right(type='submit', value='ingredient added') add

  form(action='/vendors/' + vendor.code + '/delete', method='post')
    input(type='submit', value = 'Delete vendor')

  h1= 'Make Order'
  form(action='/vendors/' + vendor.code + '/order', method='post')
    label.control-label Ingredient
    input.form-control(type='text', name='ingredient', placeholder = 'Ingredient', required='')
    label.control-label Size
    input.form-control(type='text', name='size', placeholder = 'Size', required='')
    label.control-label Quantity
    input.form-control(type='text', name='quantity', placeholder = 'Quantity', required='')
    button.btn.btn-primary.pull-right(type='submit', value='order made') order
